.card_header_all {
  margin: 30px 0 !important;
  /* display: flex !important; */
}

.out_categories_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px !important;
  text-align: center;
  background-color: #ffffff;
  padding: 8px 15px !important;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
}

.span_categories_card {
  width: 100px !important;
  height: 104px !important;
  gap: 8px;
}
