image {
  display: flex;
}

.image2 {
  display: flex;
}

.badge_back {
  background-color: #ff7010 !important;
  border: none;
}

.menu_header {
  display: none !important;
}

.header_stiky {
  position: relative !important;
}

.down_header {
  padding-top: 35px !important;
  margin-bottom: 30px !important;
  position: sticky !important;
  top: 0px !important;
  background-color: #fff;
  width: 100%;
  padding: 0 114px !important;
  z-index: 99 !important;
}

.kuda_image_title {
  gap: 12px;
}

.hr_backcolor {
  background: #e5e5e5 !important;
}

.kuda_pizza_w {
  /* width: 140px !important; */
}

.display_flex_categories {
  justify-content: center;
}

.cards_all {
  background: #e5e5e5;
}

.ad_span {
  /* background-image: url(); */
  width: 300px !important;
  height: 343px !important;
}

.imageadd {
  background-color: blue;
  border-radius: 50% !important;
}

.srednee_pizza {
  margin-top: -100px;
  width: 240px !important;
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.cardadress input {
  width: 783px !important;
  height: 48px !important;
  background: #ffffff;
  /* Line gray */
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 0 20px;
}

.proveritadress {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  /* Black */
  color: #191919;
}

.lacation_checked {
  padding: 0 40px !important;
  gap: 20px;
  background-color: white;
  margin: 0 20px;
  height: 80px;
}

.pruverit_button {
  background: #ff7010;
  border-radius: 6px;
  padding: 13px 32px;
  border: none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.offcanfaas {
  width: 100% !important;
}

.offcanvas_flex {
  flex-wrap: nowrap !important;
}

@media screen and (min-width: 0) and (max-width: 550px) {
  .menu_header {
    display: block !important;
  }
  /* .menu_header:hover  */
  .down_header {
    justify-content: center !important;
    padding: 10px 20px !important;
    margin: 0 !important;
    /* gap: 20px !important; */
  }
  .badge_back {
    display: none !important;
  }
}

.burger_menu {
  display: block;
  margin: 30px 60px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.burger_menu:hover {
  color: rgb(10, 214, 10);
}

.hamburger {
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.x_closed {
  display: none;
}

.menu {
  overflow: hidden !important;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  position: fixed;
  transform: translateX(100px);
  transition: transform 0.3s;
  background: white;
  list-style: none;
  margin-top: 50px;
  padding-top: 65px;
}

.show_menu {
  transform: translate(-460px);
}

.voytivaccount2 {
  margin-left: -800px !important;
}

@media screen and (min-width: 341px) and (max-width: 454px) {
  .menu {
    overflow: hidden !important;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    position: fixed;
    transform: translateX(100px);
    transition: transform 0.3s;
    background: white;
    list-style: none;
    margin-top: 50px;
    padding-top: 65px;
  }
  .show_menu {
    transform: translate(-360px);
  }
}

@media screen and (min-width: 30px) and (max-width: 341px) {
  .menu {
    overflow: hidden !important;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    position: fixed;
    transform: translateX(100px);
    transition: transform 0.3s;
    background: #fff !important;
    list-style: none;
    margin-top: 50px;
    padding-top: 65px;
  }
  .show_menu {
    transform: translate(-260px);
  }
  .voytivaccount2 {
    margin-left: -600px !important;
  }
}
